<div class="like-link" id="like-link-<%= error.id %>">
  <% if current_user.likes.find_by(error_id: error.id) %>
    <%= link_to unlike_path(error.id), method: :delete, remote: true do %>
        <div class = "iine__button">♥<%= error.likes.count %></div>
    <% end %>
  <% else %>
    <%= link_to like_path(error.id), method: :post, remote: true do %>
        <div class = "iine__button">♡️<%= error.likes.count %></div>
    <% end %>
  <% end %>
</div>