<%= render "shared/header" %>

<%#= メイン画面 %>
<div class="wrapper">
  <div class="side-bar">
    <%= render "shared/side-bar" %>
  </div>
  
     <!--ユーザー詳細画面-->
        <div class="user-show">
          <div class="user-wrapper">
            <table class="table">
            <tbody>
            <tr>
              <%= link_to user_path(@user.id)  do %>
                <%= image_tag "human.png", class:"card-img-show" %>
              <% end %>
            </tr>
            <tr>
              <th class="table__col1">Name</th>
              <td class="table__col3"><%= "：#{@user.name}" %></td>
            </tr>
            <tr>
              <th class="table__col1">Age</th>
              <td class="table__col2"><%= "：#{@user.age} " %></td>
            </tr>
            <tr>
              <th class="table__col1">Gender</th>
              <td class="table__col2"><%= "：#{@user.gender.name}" %></td>
            </tr>
            </tbody>
            </table>
            <%#=フォローボタン%>
            <%= render 'relationships/follow_button', user: @user %>
            <% if @user.id == current_user.id %>
            <%= link_to 'Edit profile', edit_user_registration_path(current_user.id), class:"edit-user" %>
            <% end %>
            <div class="following-followers">
            <%= link_to "#{@user.followings.count} Following", followings_user_path(@user.id), class: "following-btn" %>&nbsp;&nbsp;&nbsp;&nbsp;
            <%= link_to "#{@user.followers.count} Followers", followers_user_path(@user.id), class: "following-btn" %>
            </div>
            <%#=フォローボタン%>
         </div>
         
         <%#=自身の投稿一覧といいねした投稿一覧の切り替え%>
         
         <div class="user-path">
          <div class="path-fonts">
          <%= link_to 'Errors', user_path(@user.id), method: :get, class:"change-page-show-errors" %>
          <%#=他人のいいねした投稿は見ることができない%>
          <%= link_to 'Learned', user_like_user_path(@user.id), method: :get, class:"change-page-show-likes" %>
          </div>
        </div>
        

        <%#=自身の投稿一覧%>
        <% if @errors.blank? %>
          <div class="not-errors">
            <%= image_tag("errorlogo2.jpg", class: "not-errors-logo") %><br>
            <p class="not-errors-message"><%= "※まだ投稿がありません。サイドメニューバー「ERROR!」より投稿してください。"%></p>
          </div>
        <% else %>
        <div class="error-contents">
          <% @errors.each do |error| %>
          <ul class="error-lists">
            <li class="error-user-name">
           <% if user_signed_in? && current_user.id == error.user_id %>
              <div class="more">
              <span class="three-dots"><%= "…" %></span>
           <ul class="more_list">
            <li>
            <%= link_to '編集', edit_error_path(error.id), method: :get, class:"more-list-btn" %>
            </li>
            <li>
            <%= link_to '削除', error_path(error.id), method: :delete, class:"more-list-btn" %>
            </li>
          </ul>
        </div>
        <% end %>
        <li>
          <%= link_to user_path(error.user_id)  do %>
            <%= image_tag "human.png", class:"card-img" %>
          <% end %>
        </li>
        <li>
          <%= link_to error.user.name, user_path(error.user_id), mthod: :get, class:"error-user-name-link" %>
        </li>
        <li class="error-list">
        <p class="error-error">
          <%= link_to error.try, error_path(error.id), method: :get, class:"go-show-path" %>
        </p>
        </li>
        <li class="error-list">
        <p class="error-error">
          <%= link_to "&", error_path(error.id), method: :get, class:"and-go-show-path" %>
        </p>
        </li>
       <li class="error-list">
        <p class="error-error">
          <%= link_to error.error, error_path(error.id), method: :get, class:"go-show-path" %>
        </p>
      </li>

      <%#いいね%>
      <div class="like-link" id="like-link-<%= error.id %>">
        <% if current_user.likes.find_by(error_id: error.id) %>
          <%= link_to unlike_path(error.id), method: :delete, remote: true do %>
            <div class = "iine__button__after">LEARN<%= " #{error.likes.count}" %></div>
          <% end %>
        <% else %>
          <%= link_to like_path(error.id), method: :post, remote: true do %>
            <div class = "iine__button">ERROR<%= " #{error.likes.count}" %></div>
          <% end %>
        <% end %>
      </div>
      <%#いいね%>

      </ul>
       <% end %>
      <% end %>
  </div>
</div>
<%#= メイン画面 %>