<%#= メイン画面 %>
<div class="wrapper">
  <div class="side-bar">
    <div class="menu">
  <ul class="menu-lists">
    <li><%= link_to 'トップページへ', root_path, class: "menu-list" %></li>
    <li><%= link_to 'ERRORSについて', about_errors_path, class: "menu-list" %></li>
    <li><%= link_to 'マイページ', user_path(current_user[:id]), method: :get, class: "menu-list" %></li>
    <li><%= link_to 'カテゴリー検索', category_show_errors_path, method: :get, class:"menu-list" %></li>
    <li><%= link_to 'バイアス一覧', biases_path, method: :get, class:"menu-list" %></li>
  </ul>
  <div class="contribution-btn">
    <%= link_to 'ERROR!', new_error_path, class: 'contribution-btn-text' %>
  </div>
</div>
  </div>
  <div class="error">
        <%#=バイアス一覧%> 
        <% @biases.each do |biase| %>
          <div class="bias">
            <h2 class="bias-name"><%= biase.name %></h2>
            <p class="meaning"><%= biase.meaning %></p>
          </div>
        <% end %>
        <%#= paginate @biases %>
        <%#=バイアス一覧%>
  </div>
</div>
<%#= メイン画面 %>